<ion-header translucent no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs">
                <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logOut()" routerLink="/profile/login">
                <ion-icon slot="icon-only" name="log-out" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
        <ion-buttons slot="end"></ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="wrapper" *ngIf="user">
        <div class="avatarDiv">
            <ion-avatar>
                <img src="{{ user.avatarId? '/assets/avatar/'+user.avatarId+'.svg' : '/assets/avatar/8.svg'}}">
            </ion-avatar>
            <ion-card-title>{{user.name}}</ion-card-title>
            <ion-card-subtitle>@{{user.nickName}}</ion-card-subtitle>
            <ion-card-subtitle id="userEmail">{{user.email}}</ion-card-subtitle>
        </div>
    </div>

    <ion-list id="threadList">
        <ion-list-header>Created threads</ion-list-header>
        <!-- Sentinel 1 -->
        <ion-card class="createdThread" *ngFor="let thread of createdThreads">
            <div class="linkToThread" routerLink="{{'/thread/' + thread.id}}">
                <ion-card-header>
                    <ion-card-subtitle>{{thread.category.name}}</ion-card-subtitle>
                    <ion-card-title>{{thread.title}}</ion-card-title>

                </ion-card-header>
                <ion-card-content>
                    <ion-label>{{thread.getPreview()}}</ion-label>
                </ion-card-content>
            </div>

        </ion-card>

        <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)" loadingSpinner="bubbles">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list>

</ion-content>