.vertical-align-content {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

ion-grid {
  height: 100%;
}

ion-row {
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.md ion-card {
  max-width: 25rem;
}

ion-avatar {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  height: 5rem;
  width: 5rem;
}

ion-card {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
ion-card-header {
  padding-bottom: 0;
}

ion-card-content {
  padding-top: 0.6rem;
}
