<ion-header translucent no-border>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="logOut()" routerLink="/profile/login">
                <ion-icon slot="icon-only" name="log-out" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
        <ion-buttons slot="end"></ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
        <ion-card>
            <ion-card-header>
                <ion-row justify-content-center align-items-center>
                    <ion-avatar>
                        <img src="{{user.avatarId? '/assets/avatar/'+user.avatarId+'.svg' : '/assets/avatar/8.svg'}}">
                    </ion-avatar>
                </ion-row>
                <ion-card-title>{{user.name}}</ion-card-title>
                <ion-card-subtitle>@{{user.nickName}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <b>Email: </b><span>{{user.email}}</span>
            </ion-card-content>
        </ion-card>
    </ion-row>


</ion-content>
