<ion-header no-border>
    <ion-toolbar>
        <ion-title color="dark">{{stats.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-list-header class="unselectableText">
            {{stats.name}} Measurements
        </ion-list-header>
        <ion-item *ngFor="let field of stats.fields">
            <ion-label>{{field.name}}</ion-label>
            <ion-checkbox slot="start" color="dark" [(ngModel)]="field.isChecked"></ion-checkbox>
            <ion-badge color="{{field.color}}" slot="end">{{field.getOverview()}}</ion-badge>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="showInfo()">
            <ion-icon name="information"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <ion-card class="welcome-card" *ngIf="showCard">
        <ion-card-header>
            <ion-card-subtitle>{{stats.category.name}}</ion-card-subtitle>
            <ion-card-title>
                <ion-input placeholder="Enter title"></ion-input>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-textarea placeholder="Write your post" rows="5"></ion-textarea>
            <div class="chip" *ngFor="let field of stats.fields">
                <ion-chip outline color="{{field.color}}" (click)="field.isChecked=false" *ngIf="field.isChecked">
                    <ion-label>{{field.name}}</ion-label>
                    <ion-icon name="close"></ion-icon>
                </ion-chip>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-row justify-content-center>
        <ion-button [color]="showCard? 'success' : 'dark'" class="createPost" (click)="createPost()">Create post</ion-button>
    </ion-row>
</ion-content>
