ion-card-header {
  padding-bottom: 0;
}

ion-card-content {
  padding-top: 0.5rem;
}

ion-card {
  transition: 0.5s;
}


ion-button.createPost {
  border-radius: 9999px;
}

ion-grid {
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: center;
}

app-satellite-data-display {
  width: 100%;
  height: 100%;
}



/* * * * * * * * DATE SELECTION * * * * * * * */

.dateSelectionRow {
  height: 18%;
  display: inline-flex;
  width: 100%;
}

.datePickersDiv {
  width: 60%;
}

.dateButtonDiv {
  width: 40%;
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.datePicker {
  height: 50%; 
  width: 100%;
}

.datePicker ion-label {
  color: gray;
  font-size: 0.7em;
}



/* * * * * * * * DATA DISPLAY * * * * * * * */

.displayRow {
  height: 72%;
  width: 100%;
}




/* * * * * * * * SENTINEL STUFF * * * * * * * */

.sentinelRow {
  height: 10%;
  background-color: red;
}