ion-card-header {
  padding-bottom: 0;
}

ion-card-content {
  padding-top: 0.5rem;
}

ion-card {
  transition: 0.5s;
}


ion-button.createPost {
  border-radius: 9999px;
}

ion-grid {
  height: 100%;
  width: 100%;
}

app-satellite-data-display {
  width: 100%;
  height: 100%;
}

.displayRow {
  height: 85%;
  width: 100%;
}