<ion-header no-border>
    <ion-toolbar>
        <ion-title color="dark">{{ data.title }} <b>in {{ locationName }}</b></ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row class="dateSelectionRow">
            
            <ion-item-group class="datePickersDiv">
                
                <ion-item class="datePicker">
                    <ion-icon slot="end" name="calendar" (click)="pickStartDate()" style="margin-left: 8px;"></ion-icon>
                    <ion-label>Start date:</ion-label>
                    <ion-input 
                        placeholder="dd-mm-yyyy" 
                        debounce="500"
                        inputmode="text"
                        maxlength="10"
                        minlength="10"
                        [(ngModel)]="startDateText" 
                        (ionChange)="onStartDateChange()">
                    </ion-input>
                </ion-item>

                <ion-item class="datePicker">
                    <ion-icon slot="end" name="calendar" (click)="pickEndDate()" style="margin-left: 8px;"></ion-icon>
                    <ion-label>End date:</ion-label>
                    <ion-input
                        placeholder="dd-mm-yyyy" 
                        debounce="500"
                        inputmode="text"
                        maxlength="10"
                        minlength="10"
                        [(ngModel)]="endDateText" 
                        (ionChange)="onEndDateChange()">
                    </ion-input>
                </ion-item>
            
            </ion-item-group>

            <div class="dateButtonDiv">
                <ion-button color="secondary" fill="outline" (click)="updateData()">
                    <ion-icon name="sync"slot="end"></ion-icon>
                    <ion-label>Update</ion-label>
                </ion-button>
            </div>    

        </ion-row>

        <ion-row class="displayRow">

            <ion-list style="width: 100%;">

                <ion-card *ngFor="let values of data.values; let i = index">
                    <ion-card-header>
                        <ion-card-title>{{ values.dataCategory.name }}</ion-card-title>
                        <ion-card-subtitle>Subtitle goes here</ion-card-subtitle>
                    </ion-card-header>
        
                    <ion-card-content>
                        <app-satellite-data-display 
                            id="{{'display' + i}}"
                            [displayType]="'chart'"
                            [values]="values"
                            [isExtended]="1">
                        </app-satellite-data-display>
                    </ion-card-content>
                </ion-card>

            </ion-list>

        </ion-row>
        
        <ion-row class="sentinelRow">
            <p>Here comes Sentinel data explanation</p>
        </ion-row>

        <!--
        <ion-row>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button color="secondary" (click)="showInfo()" href="https://google.com">
                    <ion-icon name="information"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-row>
        -->

    </ion-grid>

    <!--
    <ion-card class="welcome-card" *ngIf="showCard">
        <ion-card-header>
            <ion-card-subtitle>{{ data.title }}</ion-card-subtitle>
            <ion-card-title>
                <ion-input placeholder="Enter title" [(ngModel)]="postTitle"></ion-input>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-textarea placeholder="Write your post" rows="5" [(ngModel)]="postBody"></ion-textarea>
            <div class="chip" *ngFor="let field of stats.fields">
                <ion-chip outline color="{{field.color}}" (click)="field.isChecked=false" *ngIf="field.isChecked">
                    <ion-label>{{field.name}}</ion-label>
                    <ion-icon name="close"></ion-icon>
                </ion-chip>
            </div>
        </ion-card-content>
    </ion-card>
    -->

    
</ion-content>
