<div class="chart">

    <ion-list>
        
        <ion-card *ngFor="let dataValues of dataValuesArray; let i = index">

            <ion-card-header>
                <ion-card-title>{{ dataValues.dataCategory.name }}</ion-card-title>
                <ion-card-subtitle>Subtitle goes here</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <canvas id="{{ 'chart' + i }}" class="chartCanvas"></canvas>
            </ion-card-content>

        </ion-card>
        
    </ion-list>
    
</div>