<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/profile">
                <ion-icon *ngIf="avatarId" id="userAvatar" slot="icon-only" src="assets/avatar/{{avatarId}}.svg">
                </ion-icon>
                <ion-icon *ngIf="!avatarId" slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="/assets/icon/logo.svg">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goToSearchPage()">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">

    <ion-row justify-content-center align-items-center>
        <ion-button shape="round" id="patreonBtn" fill="solid" color="secondary"
            href="https://www.patreon.com/bePatron?u=24674213" data-patreon-widget-type="become-patron-button">
            <ion-label>
                Become our Patron!
            </ion-label>
        </ion-button>
    </ion-row>

    <ion-list>
        <ion-list-header>
            Categories
        </ion-list-header>
        <ion-item *ngIf="currentCategory" (click)="openCategoryPopup()" class="categoriesList" lines="none" button>
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon *ngIf="currentCategory.iconUrl===''" slot="start" color="medium" name="star"></ion-icon>
            <ion-icon *ngIf="currentCategory.iconUrl!=''" slot="start" color="medium"
                src="{{ currentCategory.iconUrl }}"></ion-icon>
            <ion-label>{{ currentCategory.name }}</ion-label>
        </ion-item>

        <!--<script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>-->
        <ion-list-header>
            Featured
        </ion-list-header>
        <div class="threads">
            <div class="thread" *ngFor="let thread of threads">
                <ion-card class="welcome-card" routerLink="{{'/thread/' + thread.id}}">
                    <div *ngIf="thread != null">
                        <img src="{{thread.category.coverImageUrl}}" alt="" />
                        <ion-card-header>
                            <ion-card-subtitle>{{thread.category.name}}</ion-card-subtitle>
                            <ion-card-title>{{thread.title}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p style="white-space: pre-wrap;">{{thread.getPreview()}}</p>
                        </ion-card-content>
                    </div>
                </ion-card>
            </div>


            <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)" loadingSpinner="bubbles">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>

        </div>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="createCooper()" color="secondary">
            <ion-icon src="assets/icon/newPost.svg" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
