<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/profile">
                <ion-icon *ngIf="avatarId" id="userAvatar" slot="icon-only" src="assets/avatar/{{avatarId}}.svg"></ion-icon>
                <ion-icon *ngIf="!avatarId" slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="/assets/icon/logo.svg">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goToSearchPage()">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">



    <ion-list>
        <ion-list-header>
            Categories
        </ion-list-header>
        <ion-item *ngIf="currentCategory" (click)="openCategoryPopup()" class="categoriesList" lines="none" button>
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon slot="start" color="medium" src="{{ currentCategory.iconUrl }}"></ion-icon>
            <ion-label>{{ currentCategory.name }}</ion-label>
        </ion-item>
        <ion-list-header>
            Featured
        </ion-list-header>
        <div class="threads">

            <ion-card *ngFor="let thread of threads" class="welcome-card" color="red">
                <div (click)="readThread(thread.id)">

                    <img src="{{thread.getCoverImage()}}" alt=""/>
                    <ion-card-header>
                        <ion-card-subtitle>{{thread.category.name}}</ion-card-subtitle>
                        <ion-card-title>{{thread.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p>{{thread.getPreview()}}</p>
                    </ion-card-content>

                </div>

            </ion-card>

            <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)" loadingSpinner="bubbles">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>

        </div>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="createCooper()" color="secondary">
            <ion-icon src="assets/icon/newPost.svg" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
