.welcome-card img {
  max-height: 12rem;
  overflow: hidden;
}

.ios ion-card:hover {
  animation-name: hoverCard;
  animation-duration: 0.7s;
}

.md ion-card {
  transition: 0.2s;

  &:hover {
    transform: scale(0.96);
  }
}

@keyframes hoverCard {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

ion-header::after {
  background-image: none;
}

ion-card-content {
  margin-top: 0;
}

.md ion-card {
  max-width: 23rem;
  cursor: pointer;
}

.md ion-list .threads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

ion-buttons ion-button ion-icon {
  color: #333333;
}



@media (prefers-color-scheme: dark) {
  html {
    background: #000000;
    color: #ffffff;
  }
}


.unselectableText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#userAvatar {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 999px;
}


