<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goToSettingsPage()">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="/assets/icon/logo.svg">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goToSearchPage()">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">

    <ion-list class="categoriesList" lines="none">
        <ion-list-header class="unselectableText">
            Categories
        </ion-list-header>

        <ion-item *ngFor="let cat of categories" class="categoriesListElement" button="">
            <ion-icon slot="start" color="medium" src="{{ cat.iconUrl }}"></ion-icon>
            <ion-label>{{ cat.name }}</ion-label>
        </ion-item>
    </ion-list>


    <ion-list>
        <ion-list-header>
            <ion-label>Featured</ion-label>
        </ion-list-header>
        <div class="threads">

            <ion-card *ngFor="let thread of threads" class="welcome-card" color="red">
                <div (click)="readThread(thread.id)">

                    <img src="{{thread.getCoverImage()}}" alt=""/>
                    <ion-card-header>
                        <ion-card-subtitle>{{thread.category.name}}</ion-card-subtitle>
                        <ion-card-title>{{thread.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p>{{thread.getPreview()}}</p>
                    </ion-card-content>

                </div>

            </ion-card>

            <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)" loadingSpinner="bubbles">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>

        </div>
    </ion-list>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
