<ion-content>
    <ion-img src="assets/images/esa2.jpg"></ion-img>

    <div class="headerContent">
        <ion-card-title>ESA</ion-card-title>
        <ion-card-subtitle>European Space Agency</ion-card-subtitle>
        <p>ESA coordinates the delivery of data from upwards of 30 satellites. The EC, acting on behalf of the European Union, is responsible for the overall initiative, setting requirements and managing the services.
        </p>

        <p>ESA is developing a new family of satellites, called Sentinels, specifically for the operational needs of the Copernicus programme. At present, three complete two-satellite constellations are in orbit plus an additional single satellite, Sentinel-5P.</p>

    </div>


    <ion-list>
        <ion-list-header>Copernicus missions</ion-list-header>
        <!-- Sentinel 1 -->
        <ion-card>
            <img src="assets/images/sentinel1.jpg">
            <ion-card-header>
                <ion-card-subtitle>Sentinel 1</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-label>The first in the series, Sentinel-1, carries an advanced radar instrument to provide an all-weather, day-and-night supply of imagery of Earth’s surface.</ion-label>
                <br>
                <ion-label>
                    This Copernicus Sentinel-1 image contains three separate images overlaid on top of each other. Captured on 30 April, 12 May and 17 June, the different colours represent changes that occurred on the ground.</ion-label>
                <br>
                <a href="https://www.esa.int/spaceinimages/Images/2019/09/Baja_California_Mexico">See more</a>
            </ion-card-content>
        </ion-card>

        <!-- Sentinel 2 -->
        <ion-card>
            <img src="assets/images/sentinel2.jpg">
            <ion-card-header>
                <ion-card-subtitle>Sentinel 2</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-label>Australia is tackling multiple bushfires that have broken out across New South Wales and Queensland over the past few days.
                </ion-label>
                <br>
                <ion-label>
                    In this image captured by the Copernicus Sentinel-2 mission on 8 September, fires burning in the Yuraygir National Park and Shark Creek area are visible.
                </ion-label>
                <br>
                <a href="https://www.esa.int/spaceinimages/Images/2019/09/Australian_bushfires">See more</a>
            </ion-card-content>
        </ion-card>

        <!-- Sentinel 3 -->
        <ion-card>
            <img src="assets/images/sentinel3.jpg">
            <ion-card-header>
                <ion-card-subtitle>Sentinel 3</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-label>This Copernicus Sentinel-3 image features Hurricane Dorian as it pummels the Bahamas on 2 September 2019 at 15:16 GMT (11:16 EDT). This mighty storm has been parked over the northwest Bahamas for more than 24 hours unleashing a siege of devastation.</ion-label>
                <br>
                <a href="https://www.esa.int/spaceinimages/Images/2019/09/Dorian_brings_destruction">See more</a>
            </ion-card-content>
        </ion-card>

        <!-- Sentinel 4 -->
        <ion-card>
            <img src="assets/images/sentinel4.jpg">
            <ion-card-header>
                <ion-card-subtitle>Sentinel 4, 5 and 5P</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-label>Sentinel-4 and Sentinel-5 will be carried on meteorological satellites and will provide data for atmospheric composition monitoring from geostationary and polar orbits, respectively. In addition, a Sentinel-5 Precursor mission is being developed to reduce data gaps between Envisat, in particular the Sciamachy instrument, and the launch of Sentinel-5.</ion-label>
                <br>
                <a href="https://esamultimedia.esa.int/docs/EarthObservation/Copernicus_Brief_AirQuality_Issue10_September2013.pdf">See more</a>
            </ion-card-content>
        </ion-card>

    </ion-list>


</ion-content>


