.welcome-card img {
  max-height: 12rem;
  overflow: hidden;
}

ion-header::after {
  background-image: none;
}

ion-card-content {
  margin-top: 0;
}

.md ion-card {
  max-width: 25rem;
}

.md ion-list .posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

ion-buttons ion-button ion-icon {
  color: #333333;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000000;
    color: #ffffff;
  }
}


.unselectableText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



