<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-card>
        <img src="/assets/icon/logo.svg" alt=""/>
        <ion-card-content>

          <!-- Login Form -->
          <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <ion-label>Email</ion-label>
            <ion-row justify-content-center align-items-center>
              <ion-input formControlName="email" inputmode="email" placeholder="Enter your email address"></ion-input>
            </ion-row>
            <ion-label>Password</ion-label>
            <ion-row justify-content-center align-items-center>
              <ion-input formControlName="password" inputmode="password" placeholder="Enter your password" type="password"></ion-input>
            </ion-row>
            <ion-row justify-content-center align-items-center>
              <ion-button color="success" type="submit">Login</ion-button>
            </ion-row>
          </form>

          <ion-row justify-content-center align-items-center>
            <ion-button routerLink="/tabs/profile/signup" size="small" color="light">Sign up</ion-button>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
