ion-header {
  padding-bottom: 0;
}

.md ion-card {
  max-width: 25rem;
}

ion-card-content {
  padding-top: 0;
}

ion-card img {
  max-height: 4rem;
  margin-top: 2rem;
}

ion-grid {
  margin-top: 22vh;
}

ion-label {
  padding-left: 0.8rem;
}

ion-input {
  background: #f8f8f8;
  border-radius: 10px;
  --padding-start: 1rem;
  margin-bottom: 1rem;
}

ion-button {
  margin-top: 1rem;
}

.error-message {
  color: red;
}

ion-row ion-avatar img {
  padding: 0;
  margin: 0;
}

ion-avatar {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}