<ion-tabs>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        ECO-REDDIT
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="posts">
      <ion-icon name="bulb"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
