<ion-header>
    <ion-toolbar translucent>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="thread">{{ thread.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="threadContent" *ngIf="thread">
        <img [src]="thread.getCoverImage()" alt="">

        <div class="initialPost">
            <ion-card-header>
                <ion-card-title>{{thread.title}}</ion-card-title>
                <ion-card-subtitle>By {{thread.getCreatorName()}} on {{thread.initialPost.created.toLocaleDateString()}}
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>

                <ion-item *ngIf="data.values.length != 0" (click)="toggleDataDisplayExpand()">
                    <ion-icon *ngIf="!isDataDisplayExpanded" slot="end" name="arrow-dropdown"></ion-icon>
                    <ion-icon *ngIf="isDataDisplayExpanded" slot="end" name="arrow-dropup"></ion-icon>
                    <ion-label>Attached Stats</ion-label>
                </ion-item>

                <app-expandable *ngIf="data" expandHeight="400px" [expanded]="isDataDisplayExpanded">

                    <div *ngFor="let values of data.values; let i = index">
                        <app-satellite-data-display id="{{'display' + i}}" [displayType]="'chart'" [values]="values"
                            [isExtended]="false">
                        </app-satellite-data-display>
                    </div>

                </app-expandable>

                <p style="white-space: pre-wrap;">{{thread.getPreview()}}</p>
                <p class="postDate">{{thread.initialPost.created.toLocaleTimeString()}}</p>

            </ion-card-content>
        </div>

        <div class="comments">
            <ion-card class="commentPost" *ngFor="let post of this.thread.initialPost.comments">
                <ion-card-header>
                    <ion-card-subtitle>@{{thread.author.nickName}}
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p style="white-space: pre-wrap;" class="postText">{{post.textContent}}</p>
                    <p class="postDate">{{post.created.toLocaleString()}}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon id="satelliteButton" slot="icon-only" src="assets/icon/satellite.svg"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-item>
            <ion-textarea [(ngModel)]="commentText" placeholder="Enter your comment here"></ion-textarea>
        </ion-item>

        <ion-buttons slot="primary">
            <form id="commentForm" (ngSubmit)="sendComment()">
                <ion-button type="submit">
                    <ion-icon slot="icon-only" name="send" color="dark"></ion-icon>
                </ion-button>
            </form>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>