
<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="openModal()">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="/assets/icon/logo.svg">
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid>

        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <ion-card>
                <!--<img src="/assets/images/map2.jpg" alt=""/>-->
                <div id="mapCanvas"></div>
                <ion-card-header *ngIf="isLocationReady">
                    <ion-card-title>{{ locationName }}</ion-card-title>
                    <ion-card-subtitle color="secondary">{{ locationLatitude }}º, {{ locationLongitude }}º</ion-card-subtitle>
                </ion-card-header>
                <ion-card-header *ngIf="!isLocationReady">
                    <ion-card-subtitle color="secondary">Obtaining current location...</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-list lines="none" *ngIf="stats">
                        <ion-item *ngFor="let dataItem of stats" (click)="showStatsDetails(dataItem)" button>
                            <ion-icon slot="start" color="medium" src="{{ dataItem.category.iconUrl }}"></ion-icon>
                            <ion-label>{{dataItem.name}}</ion-label>
                            <ion-badge color="{{dataItem.getOverviewField().color}}">{{dataItem.getOverviewField().getOverview()}}</ion-badge>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>


</ion-content>