.vertical-align-content {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

ion-grid {
  height: 100%;
}

ion-row {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardRow {
  height: 85%;
  width: 100%;
}

.buttonsRow {
  height: 15%;
  width: 100%;
}

ion-card {
  width: 90%;
}

ion-buttons ion-button ion-icon {
  color: #333333;
}
