
<ion-header translucent>
    <ion-toolbar >
        <ion-title>
            <img src="/assets/icon/logo.svg">
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid>

        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <ion-card>
                <!-- TODO <img src="/assets/images/map2.jpg" alt=""/>-->
                <div id="mapCanvas"></div>


                <div *ngIf="anyErrorWithLocation">
                    <ion-card-header>
                        <ion-card-subtitle color="danger">Failed obtaining current location.</ion-card-subtitle>
                    </ion-card-header>
                </div>
                <div *ngIf="!anyErrorWithLocation">
                    <ion-card-header *ngIf="isLocationReady">
                        <ion-card-title>{{ locationName }}</ion-card-title>
                        <ion-card-subtitle color="secondary">{{ locationLatitude }}º, {{ locationLongitude }}º</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-header *ngIf="!isLocationReady">
                        <ion-card-subtitle color="secondary">Obtaining current location...</ion-card-subtitle>
                    </ion-card-header>
                </div>


                <!-- <ion-card-content> -->
                    <app-satellite-data-display #SatelliteDataDisplay></app-satellite-data-display>
                <!-- </ion-card-content> -->

            </ion-card>

            
            <!-- SEARCH AND LOCATE BUTTONS -->
            <div>
                <ion-chip (click)="getCurrentLocation()">
                    <ion-icon name="locate"></ion-icon>
                    <ion-label>Locate</ion-label>
                </ion-chip>
                <ion-chip (click)="openSearchModal()">
                    <ion-icon name="search"></ion-icon>
                    <ion-label>Search</ion-label>
                </ion-chip>
            </div>
        </ion-row>
    </ion-grid>


</ion-content>