<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/profile">
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title >
            <img src="/assets/icon/logo.svg">
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content justify-content-center align-items-center>

    <ion-grid>

        <ion-row class="cardRow">
            
            <ion-card> 
                <div *ngIf="anyErrorWithLocation">
                    <ion-card-header>
                        <ion-card-subtitle color="danger">Failed obtaining current location.</ion-card-subtitle>
                    </ion-card-header>
                </div>
                <div *ngIf="!anyErrorWithLocation">
                    <ion-card-header *ngIf="isLocationReady">
                        <ion-card-title>{{ locationName }}</ion-card-title>
                        <ion-card-subtitle color="secondary">{{ locationLatitude.toFixed(4) }}º, {{ locationLongitude.toFixed(4) }}º
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-header *ngIf="!isLocationReady">
                        <ion-card-subtitle color="secondary">Obtaining current location...</ion-card-subtitle>
                    </ion-card-header>
                </div>

                <ion-card-content>

                    <ion-list>
                        <ion-item *ngFor="let data of collectedData" (click)="showSatelliteDataDetails(data)" button>
                            <ion-icon slot="start" color="medium" src="{{ data.values[0].dataCategory.threadCategory.iconUrl }}"></ion-icon>
                            <ion-label>{{ data.title }}</ion-label>
                            <!--<ion-badge color="{{dataItem.getOverviewField().color}}">{{dataItem.getOverviewField().getOverview()}}</ion-badge>-->
                        </ion-item>
                    </ion-list>

                </ion-card-content>
                
            </ion-card>
        </ion-row>
            

        <ion-row class="buttonsRow">
           
            <!-- SEARCH AND LOCATE BUTTONS -->
            <div>
                <ion-chip (click)="getCurrentLocation()">
                    <ion-icon name="locate"></ion-icon>
                    <ion-label>Locate</ion-label>
                </ion-chip>
                <ion-chip (click)="openSearchModal()">
                    <ion-icon name="search"></ion-icon>
                    <ion-label>Search</ion-label>
                </ion-chip>
            </div>
        </ion-row>
    </ion-grid>



</ion-content>
