<ion-grid>
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
        <ion-card>
            <img src="/assets/images/map.jpg" alt=""/>
            <ion-card-header>
                <ion-card-title>Stats around</ion-card-title>
                <ion-card-subtitle>Oviedo, Asturias, Spain</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>Belgium and the Netherlands set national records, and the all-time marks for Germany and Britain
                    could fall on Thursday. Paris will approach 108 degrees.</p>

            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-grid>
