
<ion-grid>
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
        <ion-card>
            <img src="/assets/images/map2.jpg" alt=""/>
            <ion-card-header>
                <ion-card-title>Stats around</ion-card-title>
                <ion-card-subtitle>Oviedo, Asturias, Spain</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list lines="none">
                    <ion-item button="">
                        <ion-icon slot="start" color="medium" name="nuclear"></ion-icon>
                        <ion-label>Pollution</ion-label>
                        <ion-badge color="danger">344 ppm</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-icon slot="start" color="medium" name="snow"></ion-icon>
                        <ion-label>Temperature</ion-label>
                        <ion-badge color="success">20º</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-icon slot="start" color="medium" name="rainy"></ion-icon>
                        <ion-label>Rain</ion-label>
                        <ion-badge color="success">3 l/m2</ion-badge>
                    </ion-item>
                    <ion-item>
                        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
                        <ion-label>Tides</ion-label>
                        <ion-badge color="warning">5 m</ion-badge>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-grid>

