<ion-header translucent no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink="/tabs">
              <ion-icon slot="icon-only" name="home" color="dark"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-card>
        <img src="/assets/icon/logo_color.svg" alt=""/>
        <ion-card-content>

          <!-- Login Form -->
          <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <ion-label>Email</ion-label>
            <ion-row justify-content-center align-items-center>
              <ion-input formControlName="email" inputmode="email" placeholder="Enter your email address"></ion-input>
            </ion-row>
            <ion-label>Password</ion-label>
            <ion-row justify-content-center align-items-center>
              <ion-input formControlName="password" inputmode="password" placeholder="Enter your password" type="password"></ion-input>
            </ion-row>
            <ion-row justify-content-center align-items-center>
              <ion-button color="dark" type="submit">Login</ion-button>
            </ion-row>
          </form>

          <ion-row justify-content-center align-items-center>
            <ion-button routerLink="/profile/signup" size="small" color="light">Sign up</ion-button>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
