.welcome-card img {
  max-height: 12rem;
  overflow: hidden;
}

ion-card-content {
  margin-top: 0;
}

.md ion-card {
  max-width: 30rem;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000000;
    color: #ffffff;
  }
}
