<ion-header translucent>
    <ion-toolbar>
        <ion-title>
            <img src="/assets/icon/logo.svg">
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">

    <ion-item class="sortby">
        <ion-label>Sort by</ion-label>
        <ion-select interface ="popover">
            <ion-select-option value="n" selected="true">New</ion-select-option>
            <ion-select-option value="t" selected="true">Trending</ion-select-option>
        </ion-select>
    </ion-item>


    <ion-list class="categoriesList" lines="none">

        <ion-list-header 
                (click)="toggleShowCategories()" 
                class="unselectableText"
                [ngClass]="{'categoriesActive': isShowingCategories(), 'categoriesHidden': !isShowingCategories()}">

            Categories
        </ion-list-header>

        <div *ngIf="isShowingCategories()">
            <ion-item *ngFor="let cat of categories" class="categoriesListElement">
                <ion-icon slot="start" color="medium" src="{{ cat.iconUrl }}"></ion-icon>
                <ion-label>{{ cat.name }}</ion-label>
            </ion-item>
        </div>

    </ion-list>


    <ion-list>
        <ion-list-header>
            <ion-label>Featured</ion-label>
        </ion-list-header>
        <div class="posts">
            <ion-card *ngFor="let topic of topics" class="welcome-card" color="red">
                <img src="{{topic.getCoverImage()}}" alt=""/>
                <ion-card-header>
                    <ion-card-subtitle>{{topic.category}}</ion-card-subtitle>
                    <ion-card-title>{{topic.title}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>{{topic.textContent}}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-list>
</ion-content>
