<ion-content>
    <ion-img id="headerImage" src="assets/images/esa2.jpg"></ion-img>

    <div class="headerContent">
        <ion-card-title>ESA</ion-card-title>
        <ion-card-subtitle>European Space Agency</ion-card-subtitle>
        <p>ESA coordinates the delivery of data from upwards of 30 satellites. The EC, acting on behalf of the European
            Union, is responsible for the overall initiative, setting requirements and managing the services.
        </p>

        <p>ESA is developing a new family of satellites, called Sentinels, specifically for the operational needs of the
            Copernicus programme. At present, three complete two-satellite constellations are in orbit plus an
            additional single satellite, Sentinel-5P.</p>

    </div>


    <ion-list>
        <ion-list-header>Copernicus missions</ion-list-header>

        <div class="esaMission" *ngFor="let mission of missions">
            <ion-card routerLink="{{'mission/'+mission.id}}">
                <img src="{{mission.getCoverImageURL()}}">
                <ion-card-header>
                    <ion-card-subtitle>{{mission.name}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div class="previewLabel" *ngFor="let label of mission.previewLabels">
                        <ion-label>{{label}}</ion-label>
                        <br>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>

    </ion-list>


</ion-content>
