// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Una web chula pa pillar paleta de colores es https://coolors.co

// TODO añadir los colores de la app

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #FF6F61;
  --ion-color-primary-rgb: 255,111,97;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e06255;
  --ion-color-primary-tint: #ff7d71;

  --ion-color-secondary: #447E88;
  --ion-color-secondary-rgb: 68,126,136;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #3c6f78;
  --ion-color-secondary-tint: #578b94;

  --ion-color-tertiary: #FFDA29;
  --ion-color-tertiary-rgb: 255,218,41;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0c024;
  --ion-color-tertiary-tint: #ffde3e;

  --ion-color-success: #00BA84;
  --ion-color-success-rgb: 0,186,132;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #00a474;
  --ion-color-success-tint: #1ac190;

  --ion-color-warning: #FFDA29;
  --ion-color-warning-rgb: 255,218,41;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0c024;
  --ion-color-warning-tint: #ffde3e;

  --ion-color-danger: #D64B42;
  --ion-color-danger-rgb: 214,75,66;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #bc423a;
  --ion-color-danger-tint: #da5d55;

  --ion-color-dark: #333333;
  --ion-color-dark-rgb: 51,51,51;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #2d2d2d;
  --ion-color-dark-tint: #474747;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
