<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="logOut()" routerLink="/tabs/profile/login">
                <ion-icon slot="icon-only" name="log-out" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row justify-content-center align-items-center>
        <ion-avatar>
            <img src="/assets/icon/avatar.svg">
        </ion-avatar>
        <ion-item color="secondary">
            <ion-label>{{user.name}} {{user.surname}}</ion-label>
        </ion-item>
    </ion-row>
</ion-content>
